<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pyry.kayttoliittymat">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zhomeicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="zHome"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".adminMainMenu"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminUserControl"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminRoomControl"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminAddUser"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".adminModifyUser"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".userMainMenu"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminAddHouse"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminHouseControl"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userRoomSelection"
            android:label="@string/title_activity_user_room_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userRoomControl"
            android:label="@string/title_activity_user_room_control"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
